[buildout]
extends =
    https://raw.github.com/4teamwork/ftw-buildouts/master/test-plone-4.3.x.cfg
    sources.cfg

package-name = ftw.workspace


[versions]
# collective.geo.openlayers >= 4.0 is for Plone 5.
collective.geo.openlayers = 3.2b1
