.colorboxLink,
.colorboxLinkWrapper {
  border: 1px solid #d3d3d3;
  display: block;
  float: left;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  box-shadow: 4px 4px 10px #d3d3d3;
  text-align: center;
  overflow: hidden;
}

.colorboxLink a {
    display: block;
    position: relative;
}

.colorboxLink .detail_link,
.colorboxLink .download_link {
    float: left;
    padding-right: 1em;
    border: none !important;
}

.previewContainer img {
  max-width: 100%;
  max-height: 100%;
}

.previewTitle {
    display: block;
    position: absolute;
    top: 80%;
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, 0.7);
    border-radius: 5px;
    margin-right: 1em;
    text-align: center;
    max-height: 3em;
    overflow: hidden;
    width:inherit;
}

.previewBatchInformation {
  display: none;
  height: 0;
  position: fixed;
  top:-1000;
  left:-1000;
}

.previewGroupTitle {
  clear:both;
}

/* position download and details on the bottom right */
#cboxTitle a, #cboxTitle span {
    float: right;
    padding: 0 3px;
}
#cboxTitle a:first-child {
    margin-right: 30px;
}
#cboxTitle a:hover {
    text-decoration: underline;
}

#colorboxAjaxContent {
  margin: 30px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY;
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
