 a.previewitem {
  border: 1px solid #d3d3d3;
  display: block;
  float: left;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  box-shadow: 4px 4px 10px #d3d3d3;
  text-align: center;
  overflow: hidden;
}
.previewContainer img {
  max-width: 100%;
  max-height: 100%;
}
.file-mimetype {
    float:right;
}
.previewTitle {
    display: block;
    top: 80%;
    border-radius: 5px;
    margin-right: 1em;
    text-align: center;
    max-height: 3em;
    overflow: hidden;
    width:inherit;
}

.previewDesc {display:none;}

.imageContainer:hover > a > .previewDesc {display:block;}

.previewBatchInformation {
  display: none;
  height: 0;
  position: fixed;
  top:-1000;
  left:-1000;
}

.preview > iframe {
    width:calc(100% - 273px);
}

.previewnav {
    width:273px;
    overflow-y:scroll;
    height:100%;
    float:left;
}

.previewnav.collapsed {
    width:5px;
    overflow:hidden;
}

.navcontrol {
  top: 50%;
  left: 275px;
  position: absolute;
  border: 1px solid #aaaaaa;
  padding-top: 40px;
  padding-bottom: 40px;}

#cboxNext, #cboxPrevious {
    display:none !important;
}

.previewnav .currentitem {
    background-color: rgba(200, 200, 200, 0.4);
}

.imageContainer {
    width: 260px;
    height:290px;
    float:left;
    overflow:hidden;
}