 a.previewitem {
  border: 1px solid #d3d3d3;
  display: block;
  float: left;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  box-shadow: 4px 4px 10px #d3d3d3;
  text-align: center;
  overflow: hidden;
}
.previewContainer img {
  max-width: 100%;
  max-height: 100%;
}
.file-mimetype {
    float:right;
}
.previewTitle {
    display: block;
    top: 80%;
    border-radius: 5px;
    margin-right: 1em;
    text-align: center;
    max-height: 3em;
    overflow: hidden;
    width:inherit;
}

.previewDesc {display:none;}

.imageContainer:hover > a > .previewDesc {display:block;}

.previewBatchInformation {
  display: none;
  height: 0;
  position: fixed;
  top:-1000;
  left:-1000;
}

.imageContainer {
    width: 260px;
    height:auto;
    float:left;
    overflow:hidden;
}
.imageContainer a {
    height: 250px;
}
.no_content{
    margin-top:1em;
    font-weight:bold;
}

/* Viewchooser */
#content ul.ViewChooser {
  list-style-type: none;
  display: block;
  height: 32px;
  margin-right: 2em;
}
.ViewChooser .documentsList,
.documentsGallery {
  width: 15px;
  height: 13px;
  text-indent: -8000px;
  display: block;
  background: url(++resource++ftw.workspace-bumblebee/workspace_sprites.png) no-repeat 6px 0px;
}

.ViewChooser .documentsGallery {
  background-position: 6px 5px;
}
.ViewChooser .documentsList {
  background-position: 6px -59px;
}

.ViewChooser li {
display:block;
border: 1px solid #d3d3d3;
background: #ededed; /*fallback for non-CSS3 browsers*/
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9) to(#ededed)); /*old webkit*/
background: -webkit-linear-gradient(#f9f9f9, #ededed); /*new webkit*/
background: -moz-linear-gradient(#f9f9f9, #ededed); /*gecko*/
background: -ms-linear-gradient(#f9f9f9, #ededed); /*IE10*/
background: -o-linear-gradient(#f9f9f9, #ededed); /*opera 11.10+*/
background: linear-gradient(#f9f9f9, #ededed); /*future CSS3 browsers*/
float:left;
padding:0px;
}
.ViewChooser li.active {
  background-color: #FFFFFF;
  background-image: none;
}
.ViewChooser span,
.ViewChooser a {
    padding: 0.5em;
}
/* End Viewchooser */